<form name="myAddForm" ng-submit="validateForm()" class="addForm" novalidate>
    <input type="text" ng-model="nom" name="nom" placeholder="nom" required><br>
    <span ng-if="myAddForm.$submitted" ng-show="myAddForm.nom.$pristine || myAddForm.nom.$error.required" class="error">Le nom est requis</span><br>

    <input type="text" ng-model="prenom" name="prenom" placeholder="prenom" required><br>
    <span ng-if="myAddForm.$submitted" ng-show="myAddForm.prenom.$pristine || myAddForm.prenom.$error.required"  class="error">Le prenom est requis</span><br>

    <input type="text" ng-model="email" name="email" placeholder="email" required><br>
    <span ng-if="myAddForm.$submitted" ng-show="myAddForm.email.$pristine || myAddForm.email.$error.required"  class="error">L'email est requis</span><br>

    <div>
        <lx-button lx-color="green" type="submit" >AJOUTER</lx-button>
        <lx-button lx-color="orange" lx-type="flat" ng-click="onClickCancel()">Cancel</lx-button>   
    </div>  
</form>

