<div class="content" flex-container="column">

   <form name="searchForm" ng-submit="searchContact()" novalidate>
        <input id="searchBar" title="entrer un contact" type="text" name="searchvalue" ng-model="searchvalue" placeholder="Search..">
   </form>

    <table class="content table-hover">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Emails</th>
            <th></th>
        </tr>
        <tr ng-repeat="contact in contactList | filter:searchvalue">
            <td ng-model="id">{{contact.id}}</td>
            <td ng-model="nom">{{contact.nom}}</td>
            <td ng-model="prenom">{{contact.prenom}}</td>
            <td ng-model="email">{{contact.email}}</td>
            <td ng-click="editContact(index)">
                <a href="#/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td ng-click="deleteContact(index)"><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
    </table>
    <a href="#/add" class="rond btn btn-info">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>

