<form name="myEditForm" ng-submit="validateEditForm()" class="addForm" novalidate>
    <input type="text" ng-model="nom" placeholder={{personne.nom}} required><br>
    <div ng-show="myAddForm.nom.$error.required" ng-if="myAddForm.$submitted" class="error">Le nom est requis</div>

    <input type="text" ng-model="prenom" placeholder={{personne.prenom}} required><br>
    <div ng-show="myAddForm.prenom.$error.required" ng-if="myAddForm.$submitted" class="error">Le prenom est requis</div>

    <input type="text" ng-model="email" placeholder={{personne.email}} required><br>
    <div ng-show="myAddForm.email.$error.required" ng-if="myAddForm.$submitted" class="error">L'email est requis</div>

    <input type="submit" class="ajouter btn btn-info" placeholder="AJOUTER" >
</form>


