<div flex-container="row" class="addContact">
    <a href="#/add">
        <lx-button lx-type="fab" lx-color="blue" lx-size="xl"><i class="mdi mdi-plus"></i></lx-button>
    </a>
</div>


<div class="content" flex-container="column">
    <div class="card">
        <form name="searchForm" ng-submit="searchContact()" novalidate>
            <lx-search-filter lx-label="Search" >
                <input id="searchBar" type="text" name="searchValue" ng-model="searchValue" placeholder="search..." >
            </lx-search-filter>
        </form>
    </div>

    <table class="content table-hover">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Emails</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
        <tr ng-repeat="contact in contactList">
            <td ng-model="nom">{{contact.nom_contacts}}</td>
            <td ng-model="prenom">{{contact.prenom_contacts}}</td>
            <td ng-model="email">{{contact.email_contacts}}</td>
            <td ng-click="editContact(index)">
                <a href="#/edit">
                    <lx-icon lx-id="pencil" lx-size="xs" lx-color="red" lx-type="flat"></lx-icon>
                </a>
            </td>
            <td ng-click="deleteContact()">
                <lx-icon lx-id="delete" lx-size="xs" lx-color="red" lx-type="flat" id="delete"></lx-icon>
            </td>
    </table>
</div>


